/**
* Author: Luana Rodrigues Almeida
* Email: luanarodrigues3211@gmail.com
*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --main-color: #1e3259;
  --color-1: #a60303;
  --color-2: #f5ae10;
  --color-3: #25d366;
  --bg-dark: #202326;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --block-900: #202326;
  --block-400: #555555;
  --block-100: #f7f7f7;
  --block-000: #ffffff;
  --block-alpha-100: rgba(0, 0, 0, 0.05);
}
* {
  padding: 0;
  margin: 0;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--block-000);
  line-height: 1.5;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 15px;
}
.section-title h2 {
  padding-top: 70px;
  font-size: 26px;
  color: var(--main-color);
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar {
  background-color: var(--bg-dark);
}
.topbar img {
  padding-top: 12px;
  padding-bottom: 10px;
  width: 50px;
}
.topbar .topbar-item {
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}
/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
.navbar {
  background-color: var(--block-100);
  padding: 15px 0;
  transition: all 0.5s ease;
}
.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  padding: 5px 0;
}
.navbar .navbar-brand {
  font-size: 24px;
  color: var(--main-color);
  font-weight: 500;
  text-transform: capitalize;
}
.navbar .nav-item {
  margin-left: 20px;
}
.navbar .nav-item .nav-link {
  color: var(--main-color);
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 5px 0;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  transform: scale(0);
}
.navbar .nav-item .nav-link.active:hover::before {
  transform: scale(1);
}
/*-------------------------------------------------- */
/* CUSTOMIZE THE CAROUSEL- HOME
-------------------------------------------------- */
.section-padding-carousel {
  padding: 70px 0;
}
.carousel-caption {
  bottom: 20rem;
  z-index: 20;
}
.carousel-item {
  height: 30rem;
  background-color: var(--block-900);
}
.carousel-inner img {
  min-height: 100%;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 44.2%;
  object-fit: fill;
}
.shadow-img {
  width: 640px;
  height: 640px;
  opacity: 0.7;
  position: absolute;
}
.home-text h1 {
  font-size: 45px;
  font-weight: 700;
  color: #ffffff;
  margin: 0 0 20px;
}
.home-btn {
  padding-top: 15px;
}
/*-------------------------------------------------- */
/* Destaques
-------------------------------------------------- */
.destaque-item {
  padding: 10px;
}
.card {
  border: none;
  border-radius: none;
  box-shadow: var(--shadow-black-100);
  border-width: 15px;
}
.card img {
  object-fit: cover !important;
}
.card-body h3 {
  font-weight: 600;
  color: var(--block-400);
  font-size: 24px;
  line-height: 26px;
}
.card-body h4 {
  font-weight: 600;
  color: var(--main-color);
  font-size: 24px;
  line-height: 26px;
}
.card-body .btn {
  font-size: 16px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  font-weight: 500;
  color: var(--bg-dark);
  padding: 8px 8px;
}
.card-body .btn:hover {
  color: var(--main-color);
}
/*--------------------------------------------------------------
# seminovos
--------------------------------------------------------------*/
.seminovos {
  background-color: var(--block-100);
  align-items: center;
  text-align: center;
}
/*--------------------------------------------------------------
# Sobre Nós
--------------------------------------------------------------*/
.sobre-item {
  padding-top: 50px;
}
.sobre-item h1 {
  font-size: 20px;
  color: var(--main-color);
  margin: 20px 0;
  font-weight: 500;
  text-transform: capitalize;
}
.sobre-item p {
  padding-top: 30px;
  font-weight: 400;
  color: var(--block-900);
  font-size: 16px;
  margin: 0 0 30px;
  line-height: 26px;
}
/*--------------------------------------------------------------
# Depoimentos
--------------------------------------------------------------*/
.depoimentos {
  background-color: var(--block-100);
}
.depoimentos-item {
  background-color: var(--block-000) !important;
  margin: 15px;
  padding: 30px;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  text-align: center;
}
.depoimentos-item .img-box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-bottom: 30px;
  border: 4px solid var(--main-color);
  border-radius: 50px;
}
.depoimentos-item .img-box img {
  border-radius: 50%;
  width: 100%;
}
.depoimentos-item p {
  font-size: 16px;
  margin: 0 0 20px;
  color: var(--block-400);
  line-height: 26px;
  font-weight: 300;
}
.depoimentos-item h3 {
  font-size: 22px;
  color: var(--block-900);
  font-weight: 500px;
  margin: 0 0 5px;
  text-transform: capitalize;
}
.depoimentos-item span {
  display: block;
  font-size: 16px;
  color: var(--block-400);
  font-weight: 300;
}
.depoimentos-item .rating {
  margin-top: 10px;
}
.depoimentos-item .rating i {
  display: inline-block;
  font-size: 16px;
  color: var(--color-2);
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contato-form-item {
  background-color: #1e3259 !important;
}
.contact-info h3 {
  font-size: 20px;
  color: var(--block-900);
  font-weight: 500;
  margin: 0 0 40px;
}
.contact-info-item {
  padding: 15px;
  position: relative;
  margin-bottom: 30px;
}
.contact-info-item i {
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: var(--main-color);
  border: 1px solid --main-color;
  text-align: center;
  line-height: 38px;
  left: 0;
  top: 0;
}
.contact-info-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
  color: var(--block-900);
}
.contact-info-item p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
  color: var(--block-400);
}
.contact-form .form-group {
  margin-bottom: 25px;
}
.contact-form .control-label {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
  color: var(--block-400);
}
.contact-form #id_nome,
#id_email,
#id_telefone {
  height: 40px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 15px;
  padding: 0 15px;
  color: var(--block-900);
  background-color: var(--block-000);
  transition: all 0.5s ease;
}
.contact-form #id_mensagem {
  padding-top: 12px !important;
  height: 100px;
  resize: none;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 15px;
  padding: 0 24px;
  color: var(--block-900);
  background-color: var(--block-000);
  transition: all 0.5s ease;
}
.contact-form #id_nome:focus,
#id_email:focus,
#id_telefone:focus,
#id_mensagem:focus {
  border-color: var(--main-color);
}
.mapa {
  padding-top: 30px;
}
.mapa h3 {
  font-size: 24px;
  color: var(--block-900);
  font-weight: 500;
  margin: 0 0 40px;
  text-align: center;
}

/*--------------------------------------------------------------
# Responsividade
--------------------------------------------------------------*/
@media (max-width: 991px) {
  .navbar-toggler {
    background-color: var(--dark-to-main-color);
    box-shadow: var(--shadow-black-300);
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 17px;
    color: var(--main-color);
  }
  .navbar-nav {
    background-color: var(--dark-to-main-color);
  }
  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }
  .navbar.navbar-shrink .navbar-toggler,
  .navbar.navbar-shrink .navbar-nav {
    background-color: var(--main-color);
  }
  .carousel-item {
    height: 20rem;
  }
  .carousel-inner img {
    min-height: 20rem;
  }
  .card-body h3 {
    font-weight: 600;
    color: var(--block-400);
    font-size: 20px;
    line-height: 26px;
  }
  .card-body h4 {
    font-weight: 600;
    color: var(--main-color);
    font-size: 20px;
    /* margin: 0 0 30px; */
    line-height: 26px;
  }
  .card-body h5 {
    font-weight: 600;
    font-size: 16px;
  }
  .footer-col {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .carousel-item {
    height: 20rem;
  }
  .carousel-inner img {
    min-height: 20rem;
  }
  .home-text h1 {
    font-size: 38px;
    /* margin: 0 0 40px; */
  }
  .home-text p {
    font-size: 16px;
  }
  .home-btn {
    padding-top: 10px;
  }
  .contact-form {
    margin-top: 20px;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .button-whasapp {
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 25px;
  }
  .button-whasapp .my-float {
    margin-top: 10px;
  }
  .services-content {
    margin-bottom: 30px;
  }
  .imoveis img {
    width: 30rem;
    height: 16rem;
  }
}
@media (max-width: 575px) {
  .section-padding {
    padding: 80px 0;
  }
  .section-title h2 {
    font-size: 24px !important;
  }

  .carousel-caption {
    bottom: 5rem;
  }
  .carousel-item {
    height: 18rem;
  }
  .carousel-inner img {
    min-height: 18rem;
  }

  .home-text h1 {
    font-size: 24px;
  }
  .home-text p {
    font-size: 16px;
  }
  .home-btn {
    padding-top: 20px;
  }
  .section-title h2 {
    font-size: 30px;
  }
  .button-whasapp {
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 25px;
  }
  .button-whasapp .my-float {
    margin-top: 10px;
  }
  .imoveis {
    padding-top: 6rem;
  }
  .imoveis img {
    width: 15rem;
    height: 24rem;
  }
  .imoveis h1 {
    padding-top: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: var(--block-400);
    margin: 0;
  }
}
@media (max-width: 450px) {
  .carousel-caption {
    bottom: 4rem;
  }
  .carousel-item {
    height: 14rem;
  }
  .carousel-inner img {
    min-height: 14rem;
  }
}
@media (max-width: 320px) {
  .carousel-caption {
    bottom: 2.7rem;
  }
  .carousel-item {
    height: 10rem;
  }
  .carousel-inner img {
    min-height: 10rem;
  }
  .home-text h1 {
    font-size: 24px;
    /* margin: 0 0 40px; */
  }
  .home-text p {
    font-size: 16px;
  }
  .home-btn {
    padding-top: 10px;
  }
}
