/**
* Author: Luana Rodrigues Almeida
* Email: luanarodrigues3211@gmail.com
*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --main-color: #1e3259;
  --color-1: #a60303;
  --color-2: #f5ae10;
  --color-3: #25d366;
  --bg-dark: #202326;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --block-900: #202326;
  --block-400: #555555;
  --block-100: #f7f7f7;
  --block-000: #ffffff;
  --block-alpha-100: rgba(0, 0, 0, 0.05);
}
* {
  padding: 0;
  margin: 0;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif !important;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--block-000);
  line-height: 1.5;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
.section-padding {
  padding: 80px 0;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar {
  background-color: var(--bg-dark);
}
.topbar img {
  padding-top: 17px;
  padding-bottom: 18px;
  width: 50px;
}
.topbar .topbar-item {
  padding-top: 20px;
  padding-bottom: 10px;
  /* align-items: center; */
  text-align: center;
}
.topbar .btn-telefone {
  background-color: var(--color-2);
  font-size: 18px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  font-weight: 700;
  color: var(--block-000);
  padding: 8px 20px;
}
.topbar .btn-telefone:hover {
  color: #ffffff;
  background-color: var(--main-color);
}
.topbar .btn-whats {
  background-color: var(--color-3);
  font-size: 18px;
  text-transform: capitalize;
  transition: all 0.5s ease;
  font-weight: 700;
  color: var(--block-000);
  padding: 8px 20px;
}
.topbar .btn-whats:hover {
  color: #ffffff;
  background-color: var(--main-color);
}
.topbar .btn-group {
  padding-left: 5px;
}
/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
.navbar {
  background-color: var(--block-100);
  padding: 30px 0;
  transition: all 0.5s ease;
}
.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  padding: 10px 0;
}
.navbar .navbar-brand {
  font-size: 30px;
  color: var(--main-color);
  font-weight: 500;
  text-transform: capitalize;
}
.navbar .nav-item {
  margin-left: 40px;
}

.navbar .nav-item .nav-link {
  color: var(--main-color);
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  padding: 8px 0;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  transform: scale(0);
}
.navbar .nav-item .nav-link.active:hover::before {
  transform: scale(1);
}
