/**
* Author: Luana Rodrigues Almeida
* Email: luanarodrigues3211@gmail.com
*/

/*--------------------------------------------------------------
# Fonts
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,800&display=swap");
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
:root {
  --main-color: #1e3259;
  --color-1: #a60303;
  --color-2: #f5ae10;
  --color-3: #25d366;
  --bg-dark: #202326;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --block-900: #202326;
  --block-400: #555555;
  --block-100: #f7f7f7;
  --block-000: #ffffff;
  --block-alpha-100: rgba(0, 0, 0, 0.05);
}
* {
  padding: 0;
  margin: 0;
  outline: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: var(--block-000);
  line-height: 1.5;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
@keyframes spin_01 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounceTop_01 {
  0%,
  100% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(0px);
  }
}
.section-padding {
  padding: 80px 0;
}
.section-title {
  margin-bottom: 15px;
}
.section-title h2 {
  padding-top: 70px;
  font-size: 36px;
  line-height: 48px;
  color: var(--main-color);
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}
/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
.topbar {
  background-color: var(--bg-dark);
  padding-top: 10px;
  padding-bottom: 10px;
}
.topbar img {
  padding-bottom: 10px;
  width: 50px;
}
.topbar button {
  padding-left: 10px;
}
.topbar .topbar-item {
  padding-top: 10px;
}

.topbar .btn {
  color: var(--block-000);
}
.topbar .btn-secondary {
  margin: 5px;
  height: 40px;
  width: 40px;
  border-radius: 50px;
}
/*--------------------------------------------------------------
# Nav
--------------------------------------------------------------*/
.navbar {
  background-color: var(--block-100);
  padding: 15px 0;
  transition: all 0.5s ease;
}
.navbar.navbar-shrink {
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: var(--main-color);
  padding: 5px 0;
}
.navbar .navbar-brand {
  font-size: 14px;
  line-height: 18px;
  color: var(--main-color);
  font-weight: 700;
  text-transform: capitalize;
}
.navbar .nav-item {
  margin-left: 20px;
}
.navbar .nav-item .nav-link {
  font-size: 14px;
  line-height: 18px;
  color: var(--main-color);
  font-weight: 700;
  text-transform: capitalize;
  position: relative;
}
.navbar .nav-item .nav-link::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 1px;
  background-color: var(--main-color);
  transition: all 0.5s ease;
  transform: scale(0);
}
.navbar .nav-item .nav-link.active:hover::before {
  transform: scale(1);
}
/*-------------------------------------------------- */
/* CUSTOMIZE THE CAROUSEL- HOME
-------------------------------------------------- */
.section-padding-carousel {
  padding: 70px 0;
}
.carousel-caption {
  bottom: 20rem;
  z-index: 20;
}
.carousel-item {
  height: 30rem;
  background-color: var(--block-900);
}
.carousel-inner img {
  min-height: 100%;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  height: 44.2%;
  object-fit: fill;
}
.shadow-img {
  width: 640px;
  height: 640px;
  opacity: 0.7;
  position: absolute;
}

/*-------------------------------------------------- */
/* Destaques
-------------------------------------------------- */
.destaque-item {
  padding: 10px;
}
.card {
  border: none;
  border-radius: none;
  box-shadow: var(--shadow-black-100);
  border-width: 15px;
}
.card img {
  object-fit: cover !important;
}
.card-body {
  align-items: center;
}
.card-body h3 {
  font-weight: 700;
  text-align: center;
  color: var(--bg-dark);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.card-body h4 {
  align-items: center;
  text-align: center;
  font-weight: 400;
  color: var(--block-400);
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
}
.card-body .btn {
  font-size: 12px;
  text-transform: uppercase;
  transition: all 0.5s ease;
  font-weight: 400;
  line-height: 18px;
  color: var(--bg-dark);
  padding: 8px 8px;
}
.card-body .btn i {
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  color: var(--bg-dark);
  /* padding: 8px 8px; */
}
.card-body .btn:hover {
  color: var(--main-color);
}
/*--------------------------------------------------------------
# seminovos
--------------------------------------------------------------*/
.seminovos {
  background-color: var(--block-100);
  align-items: center;
  text-align: center;
}
.seminovos p {
  margin-bottom: 0rem;
  /* align-items: center; */
  text-align: left;
  font-weight: 700;
  color: var(--main-color);
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
}
.seminovos span {
  align-items: center;
  font-weight: 400;
  color: var(--block-900);
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.seminovos h3 {
  margin-bottom: 0rem;
  align-items: center;
  font-weight: 700;
  color: var(--block-400);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}
.seminovos h1 {
  margin-bottom: 0rem;
  align-items: center;
  font-weight: 700;
  color: var(--bg-dark);
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}
.seminovos .btn {
  align-items: center;
  font-weight: 700;
  color: var(--bg-dark);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}
/*--------------------------------------------------------------
# Sobre Nós
--------------------------------------------------------------*/
.sobre-item {
  padding-top: 50px;
}
.sobre-item h3 {
  margin-bottom: 0rem;
  align-items: center;
  font-weight: 700;
  color: var(--bg-dark);
  font-size: 24px;
  line-height: 32px;
  text-transform: uppercase;
}
.sobre-item p {
  padding-top: 30px;
  font-weight: 400;
  color: var(--block-900);
  font-size: 16px;
  margin: 0 0 30px;
  line-height: 26px;
}
/*--------------------------------------------------------------
# Depoimentos
--------------------------------------------------------------*/
.depoimentos {
  background-color: var(--block-100);
}
.depoimentos-item {
  background-color: var(--block-000) !important;
  margin: 15px;
  padding: 30px;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  text-align: center;
}
.depoimentos-item .img-box {
  height: 100px;
  width: 100px;
  display: inline-block;
  margin-bottom: 30px;
  border: 4px solid var(--main-color);
  border-radius: 50px;
}
.depoimentos-item .img-box img {
  border-radius: 50%;
  width: 100%;
}
.depoimentos-item p {
  font-size: 16px;
  margin: 0 0 20px;
  color: var(--block-400);
  line-height: 26px;
  font-weight: 300;
}
.depoimentos-item h3 {
  font-size: 22px;
  color: var(--block-900);
  font-weight: 500px;
  margin: 0 0 5px;
  text-transform: capitalize;
}
.depoimentos-item span {
  display: block;
  font-size: 16px;
  color: var(--block-400);
  font-weight: 300;
}
.depoimentos-item .rating {
  margin-top: 10px;
}
.depoimentos-item .rating i {
  display: inline-block;
  font-size: 16px;
  color: var(--color-2);
}
/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact-info h3 {
  font-size: 20px;
  color: var(--block-900);
  font-weight: 500;
  margin: 0 0 40px;
}
.contatos {
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  text-align: center;
  background-color: var(--block-100);
  padding-top: 20px;
  padding-bottom: 20px;
}
.contact-info-item {
  padding: 15px;
  position: relative;
  margin-bottom: 30px;
}
.contatos .contact-info-item i {
  font-weight: 400;
  position: relative;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 18px;
  color: var(--main-color);
  border: 1px solid --main-color;
  text-align: center;
  line-height: 20px;
  left: 0;
  top: 0;
  padding-bottom: 20px;
}
.contact-info-item h4 {
  font-size: 14px;
  line-height: 18px;
  color: var(--bg-dark);
  font-weight: 700px;
  text-transform: uppercase;
}
.contact-info-item p {
  font-size: 14px;
  line-height: 21px;
  color: var(--block-900);
  font-weight: 400px;
  text-transform: capitalize;
}
.contact-form {
  padding-top: 30px;
}
.contact-form .form-group {
  margin-bottom: 25px;
}
.contact-form .control-label {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
  color: var(--block-400);
}
.contact-form #id_nome,
#id_email,
#id_telefone {
  height: 40px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 15px;
  padding: 0 15px;
  color: var(--block-900);
  background-color: var(--block-000);
  transition: all 0.5s ease;
}
.contact-form #id_mensagem {
  padding-top: 12px !important;
  height: 100px;
  resize: none;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 15px;
  padding: 0 24px;
  color: var(--block-900);
  background-color: var(--block-000);
  transition: all 0.5s ease;
}
.contact-form #id_nome:focus,
#id_email:focus,
#id_telefone:focus,
#id_mensagem:focus {
  border-color: var(--main-color);
}
.mapa {
  padding-top: 30px;
}
.mapa h3 {
  font-size: 24px;
  color: var(--block-900);
  font-weight: 500;
  margin: 0 0 40px;
  text-align: center;
}
/*--------------------------------------------------------------
# Carro
--------------------------------------------------------------*/
.carro {
  background-color: var(--block-100);
}
.carro img {
  /* width: 100%; */
  /* height: 22rem; */
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.carro-title h2 {
  padding-top: 70px;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 34px;
  color: var(--main-color);
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
}
.informacoes h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--block-900);
  font-weight: 700px;
  text-transform: uppercase;
}
.carro .box {
  background-color: var(--block-000);
  padding: 30px;
  box-shadow: var(--shadow-black-100);
}
.carro .box h4 {
  font-size: 14px;
  line-height: 21px;
  color: var(--block-400);
  font-weight: 400px;
  text-transform: uppercase;
}

.carro .box span {
  font-size: 14px;
  line-height: 21px;
  color: var(--block-900);
  font-weight: 700px;
  text-transform: capitalize;
  font-weight: bold;
}

.carro .carro-item h2 {
  text-align: right;
  font-size: 36px;
  line-height: 54px;
  color: var(--block-900);
  font-weight: 700px;
  text-transform: capitalize;
}
.carro-item .form-item {
  text-align: center;
  padding: 30px;
  color: var(--block-000);
  background-color: var(--main-color);
}
.carro-item .form-item h4 {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--block-000);
  font-weight: 700px;
  text-transform: capitalize;
}
.carro-item .form-item p {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
  color: var(--block-000);
  font-weight: 400px;
}
.carro-item .form-group {
  background-color: var(--block-900);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.carro-item .contact-form {
  padding-top: 0rem;
}
.carro-item .contact-form .form-group {
  margin-bottom: 20px;
}
.carro-item .contact-form .control-label {
  padding-left: 10px;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  line-height: 20px;
  color: var(--block-000);
}
.carro-item .contact-form #id_nome,
#id_email,
#id_telefone {
  height: 40px;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 15px;
  padding: 0 15px;
  color: var(--block-900);
  background-color: var(--block-000);
  transition: all 0.5s ease;
}
.carro-item .contact-form #id_mensagem {
  padding-top: 12px !important;
  height: 100px;
  resize: none;
  border: 1px solid transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 15px;
  padding: 0 24px;
  color: var(--block-900);
  background-color: var(--block-000);
  transition: all 0.5s ease;
}
.carro-item .contact-form #id_nome:focus,
#id_email:focus,
#id_telefone:focus,
#id_mensagem:focus {
  border-color: var(--main-color);
}
.contato-carro {
  background-color: var(--block-100);
  padding-bottom: 50px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: #8e2de2; /* fallback for old browsers */
  background: var(--main-color);
  padding: 50px 0;
}
.footer-col h3 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
  margin: 0 0 25px;
  text-transform: capitalize;
}
.footer-col p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  line-height: 26px;
  margin: 0;
}
.footer-col ul {
  margin: 0;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer-col ul li i {
  width: 40px;
  border-radius: 50%;
  font-size: 16px;
  color: #ffffff;
  border: 1px solid --main-color;
  text-align: center;
  /* line-height: 38px; */
  left: 0;
  top: 0;
}
.footer-col ul li a {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 300;
  display: block;
  text-transform: capitalize;
  transition: all 0.5s ease;
  text-decoration: none;
}
.footer-col ul li a:hover {
  padding-left: 5px;
}
.footer .copyright {
  padding: 10px 0;
  text-align: center;
  font-size: 16px;
  color: var(--block-000);
  font-weight: 300;
}
.footer .copyright a {
  color: var(--block-000) !important;
}
.footer-col .fa-home {
  text-align: center;
  font-size: 32px;
  color: var(--block-000);
}
/*--------------------------------------------------------------
# WhatsApp
--------------------------------------------------------------*/
.button-whasapp {
  background-color: var(--main-color);
}
.button-whasapp i {
  right: 25px;
  position: fixed;
  padding-top: 5px;
  width: 60px;
  height: 60px;
  bottom: 40px;
  background-color: var(--color-3);
  color: #ffffff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: var(--shadow-black-300);
  z-index: 100;
  margin-top: 16px;
}
.button-whasapp .my-float {
  margin-top: 16px;
  color: #ffffff;
}

/*--------------------------------------------------------------
# Responsividade
--------------------------------------------------------------*/
@media (max-width: 992px) {
  .navbar-toggler {
    background-color: var(--main-color) !important;
    box-shadow: var(--shadow-black-300);
    height: 34px;
    width: 44px;
    padding: 0;
    font-size: 17px;
    color: var(--block-000);
  }
  .navbar-nav {
    background-color: var(--dark-to-main-color);
  }
  .navbar .nav-item {
    margin: 0;
    padding: 5px 15px;
  }
  .navbar.navbar-shrink .navbar-toggler,
  .navbar.navbar-shrink .navbar-nav {
    background-color: var(--main-color);
  }
  .carousel-item {
    height: 20rem;
  }
  .carousel-inner img {
    min-height: 20rem;
  }
  .footer-col {
    margin-bottom: 30px;
  }
}
@media (max-width: 768px) {
  .carousel-item {
    height: 20rem;
  }
  .carousel-inner img {
    min-height: 20rem;
  }
  .destaque-item {
    padding: 8px;
  }
  .contact-form {
    margin-top: 20px;
    padding-bottom: 30px;
  }
  .section-title h2 {
    font-size: 35px;
  }
  .topbar .btn i {
    color: var(--block-000);
  }

  .topbar .btn:hover {
    color: transparent !important;
  }
  .topbar .btn {
    margin: 5px;
    /* background-color: black; */
    color: transparent;
    padding: 5px;
    height: 40px;
    width: 40px;
    border-radius: 50px;
  }
}
@media (max-width: 576px) {
  .section-padding {
    padding: 80px 0;
  }
  .section-title h2 {
    font-size: 24px !important;
  }

  .carousel-caption {
    bottom: 5rem;
  }
  .carousel-item {
    height: 18rem;
  }
  .carousel-inner img {
    min-height: 18rem;
  }
  .section-title h2 {
    font-size: 30px;
  }
  /* .topbar .btn-warning {
    right: 15px;
    bottom: 25px;
    font-size: 16px;
  }
  .topbar .btn-success {
    right: 15px;
    bottom: 25px;
    font-size: 16px;
  } */
}
@media (max-width: 450px) {
  .carousel-caption {
    bottom: 4rem;
  }
  .carousel-item {
    height: 14rem;
  }
  .carousel-inner img {
    min-height: 14rem;
  }
  .button-whasapp i {
    width: 45px;
    height: 45px;
    right: 15px;
    bottom: 20px;
    font-size: 20px;
  }
}
@media (max-width: 320px) {
  .carousel-caption {
    bottom: 2.7rem;
  }
  .carousel-item {
    height: 10rem;
  }
  .carousel-inner img {
    min-height: 10rem;
  }
  .topbar .btn {
    margin: 5px;
    /* background-color: black; */
    color: transparent;
    padding: 2px;
    height: 32px;
    width: 32px;
    border-radius: 50px;
  }
}
