{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Concerssionária</title>
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    
</head>
<body>
    <!-- ======= Inicio Top Bar ======= -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <a class="navbar-brand img-fluid" href="#"><img src="{% static 'image/logo.png' %}" alt=""></a>
                </div>
                <div class="col-sm-2 topbar-item">
                    <a class="button btn btn-telefone" href="">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        Telefone
                    </a>
                </div>
                <div class="col-sm-2 topbar-item">
                    <a class="button btn btn-whats">
                        <i class="fa fa-whatsapp" aria-hidden="true"></i>
                        WhatsApp
                    </a>
                </div>
                <div class="col-sm-2 topbar-item" >
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="rounded btn btn-secondary">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button type="button" class="rounded btn btn-secondary">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                
            </div>
        </div>
        
    </div>
    <!-- ======= Fim Top Bar ======= -->
    {% block main %}
    {% endblock main %}
    <!-- Jquery -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Icons -->
    <script src="https://kit.fontawesome.com/d8695f59a3.js" crossorigin="anonymous"></script>
        
</body>
</html>